.waveumLogo {
  margin-bottom: 30px;
  display: inline-block;
  width: 200px;
  height: 113px;
  overflow: hidden;
}

.waveumLogoImg {
  width: 150px;
  transform: translateY(-25px);
}

.formTitle {
  font-size: 18px;
  color: #153b5e;
  padding: 0 0 30px 0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: 1em 0;
  line-height: 1.4285em;
}