.button {
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background: #153b5f;
  padding: 10px 0 10px;
  color: #fff !important;
  outline: none;
  width: 300px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: #153b5f !important;
    border-color: #153b5f;
  }
}